input {
    width: 100%;
    margin: 0;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background: none;
    background: none;
    box-shadow: 2px 2px 2px #cbced1 inset,
            -2px -2px 2px #c6dedadb inset;

    border-radius: 10px;
    text-align: right;
    font-size: 25px;
}

button {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 45px;
    border: none;
    outline: none;
    background: none;
    box-shadow: 2px 2px 2px #cbced1,
            -2px -2px 2px #c6dedadb;

    border-radius: 10px;
    font-weight: bold;
}

.total-container {
  box-shadow: 13px 13px 20px #cbced1,
            -13px -13px 20px #c6dedadb;

    background: #d9e8e7b0;
    padding: 15px;
    border-radius: 20px;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #d9e8e7b0;
}

.equal-button{
    height: 100%;
    color: #ff0d0d;
}

.memory-display{
    height: 20px;
    width: 20px;
    background: #e8f1f0;
    border-radius: 50%;
    margin: auto auto;
    margin-top: 12px;
    border: 1px solid black;
}

button:hover{
    transform: scale(1.1);
    color: lightcoral;
}